html, body {
  height: 100%;
  width: 100%;
  margin:0px;
}
#map {
  width: 100%;
  height: 400px;
}
.help_in-person {
  fill: #ed1b2e;
  color: #ed1b2e;
}
.help_remote {
  fill: #d95f0e;
  color: #d95f0e;
}
.no-language {
  display: none !important;
}